:root {
    --btn-color: #555A88;
}

.user-list {
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
    justify-content: center;
    margin-left: 5%;
    margin-right: 10%;
}

.card { 
    border: solid;
    padding: 0.5em;
    border-color: #E5E5E5;
    border-radius: 2em;
        
}

p, h1 {
    color: #0F0F2D;
}

h3 {
    color: #D3D3D3;
}
button {
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: var(--btn-color);
    border-radius: 1rem;
    outline: none;
}

button:hover {
    color: #fff;
}
@media (max-width: 560px){
    .user-list{
        grid-template-columns: 100% ;
    }
}

.content {
    display: flex;
}

.btn {
    display: flex;
    justify-content: space-around;
}