.form {
   text-align: center;
   margin: 1rem;
   margin-left: 20%;
   margin-right: 20%;
   padding:1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

#add {
    outline: none;
    
}